{% load staticfiles %}


<!DOCTYPE html>
<head>
  <title>REQON Security</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'js/pagescript.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">




</head>

<body data-spy="scroll" data-target=".navbar" data-offset="70">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">REQON Security</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#over">OVER ONS</a></li>
        <li><a href='#missie'>MISSIE</a></li>
        <li><a href="#zekerheden">ZEKERHEDEN</a></li>
        <li><a href="#producten">PAKKETEN</a></li>
        <li><a href="#contact">CONTACT</a></li>
         <li><a href="javascript" onclick="linkprevent();">ONDERZOEK</a></li>
      </ul>
    </div>
  </div>
</nav>



{% block content %}

{% endblock %}

</body>

<script>

function linkprevent() {
   location.href = "{% url 'onderzoek' %}";

}





</script>



</html>
