{% extends 'home/base.html' %}




{% block content %}

<div class="jumbotron text-center">
  <h1>REQON Security</h1>
  <h3>Security overzichtelijk gemaakt.</h3>

  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>" 100% veiligheid bestaat niet. <br>Tegen tijd, intelligentie, creativiteit en doorzettingsvermogen is geen beveiliging opgewassen."<br><span style="font-style:normal;">Harm Blankers</span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
      </div>
      <div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Vorige</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Volgende</span>
    </a>
  </div>
</div>

<!-- Container (About Section) -->
<div id="over" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>&nbsp;Over REQON Security</h2><br>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><br>
    </div>
    <div class="col-sm-4">
      <br><br><br><br>
      <span class="glyphicon glyphicon-lock logo slideanim" style="margin-left: 130px;"></span>
    </div>
  </div>
</div>

<div id="missie" class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <br><br><br>
      <span class="glyphicon glyphicon-screenshot logo-kleur slideanim" style="margin-right: 50px; margin-left: 150px;"></span>
    </div>
    <div class="col-sm-8">
      <h2>&nbsp;ONZE MISSIE</h2>
        <br>
      <h4><strong>MISSION:</strong> Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
      <h4><strong>VISION:</strong> Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
    </div>
  </div>
</div>
<br>
<!-- Container (Services Section) -->
<div id="zekerheden" class="container-fluid text-center">
  <h2>WAT KUNNEN WIJ BETEKENEN VOOR UW BEDRIJF?</h2>
  <br>
  <h4>Wat kunt u van ons verwachtten?</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-console logo"></span>
      <h4>INNOVATIEF</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-check logo-kleur"></span>
      <h4>KRITISCH</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="image-responsive glyphicon glyphicon-eye-open logo"></span>
      <h4>OVERZICHTELIJK</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  <br><br>

    </div>

<br>
<br>










<!-- Container (Pricing Section) -->

<div id="producten" class="container">
  <div class="text-center">
  <h2>PRODUCTEN</h2>
  <h4 style="color:#f4511e;">Wij helpen u graag met het maken van de beste keuze voor uw bedrijf.</h4>
  </div>
   <div class="panel-group" id="accordion">
    <div class="panel panel-default">
     <div class="panel-heading">
     <h3 class="panel-title">
     <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Website Pentesting</a>
     </h3>
     </div>
       <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
       </div>
     </div>
      <div class="panel panel-default">
       <div class="panel-heading">
       <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a>
       </h4>
       </div>
        <div id="collapse2" class="panel-collapse collapse in">
         <div class="panel-body">

                 <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Basic</h1>
        </div>
        <div class="panel-body">
          <p><strong>20</strong> Lorem</p>
          <p><strong>15</strong> Ipsum</p>
          <p><strong>5</strong> Dolor</p>
          <p><strong>2</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h2>$19</h2>
          <h4>per month</h4>
          <button class="btn btn-lg">Meer informatie</button>
        </div>
      </div>
    </div>     










         </div>
         </div>
      </div>
       <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
        </h4>
       </div>
        <div id="collapse3" class="panel-collapse collapse">
         <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        </div>
    </div>
  </div>
</div>





















<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p><span class="glyphicon glyphicon-map-marker"></span> Den Haag, NL</p>
      <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
      <p><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;info@reqon.nl</p>
    </div>
    <div class="col-sm-5 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Naam" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Bericht" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">VERSTUUR</button>
        </div>
      </div>
    </div>
  </div>
</div>



<footer class="container-fluid text-center">
  <a href="" title="Boven">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p><a>Copyright 2016 REQON Security </a></p>
</footer>




{% endblock %}